body {
    background: linear-gradient(90deg, #ac6387 -15%, #537895 60%);
}

main {
    margin: 0 auto;
}

h1 {
    color: #fff4f9;
    text-align: center;
    margin-bottom: 0;
    font-size: 50px;
}

input {
    background-color: #fff4f9;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
}

table {
    background-color: #fff4f9;
    margin: 0 auto;
    width: 82%;
    padding: 2%;
    box-shadow: 0 0 20px black;
    /* border-collapse: collapse; */
}

th {
    height: 40px;
    padding: 5px;
    color: #fff4f9;
}

td {
    padding: 10px 12px;
    border-bottom: 1px solid #537895;
}

.table-headings {
    background-color: #537895;
    text-align: left;
}

.add-song {
    margin: 30px 0px 0px 75px;
}

.add-input-song {
    margin: 5px;
}

.add-song-label {
    margin: 20px;
    color: #fff4f9;
}

.title-input {
    margin-left: 54px;
}

.album-input {
    margin-left: 39px;
}

.artist-input {
    margin-left: 47px;
}

.genre-input {
    margin-left: 45px;
}

.add-button {
    margin-left: 15em;
    margin-top: 5px;
}

.content-container {
    margin: 0 auto;
}

.add-text {
    margin: 0;
    color: #fff4f9;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
}

.filter-button {
    margin: 0 10px 15px 0px;
}

.reset-list-button {
    margin: 0 10% 15px 0px;
}

.filter-input {
    margin: 0 10px 15px 0px;
}

.search-text {
    color: #fff4f9;
    margin: 0 10px 15px 0;
}
