body {
    background: linear-gradient(90deg, #09203f -15%, #537895 60%);
}

main {
    margin: 0 auto;
}

h1 {
    color: #f9fbfe;
    text-align: center;
}

input {
    background-color: #f9fbfe;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
}

.add-song {
    margin: 50px;
}

.add-song-label {
    margin: 20px;
    color: #f9fbfe;
}

.title-input {
    margin-left: 54px;
}

.album-input {
    margin-left: 39px;
}

.artist-input {
    margin-left: 47px;
}

.genre-input {
    margin-left: 45px;
}

.add-button {
    margin-left: 15em;
    margin-top: 20px;
}

.content-container {
    margin: 0 auto;
}

/* .filter-form {
    margin: 0 auto;
} */

.search-bar {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.filter-button {
    margin: 25px;
}

.reset-list-button {
    margin: 25px;
}

.filter-input {
    margin: 25px;
}
